
@import "../node_modules/rc-slider/assets/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100vh;
}

@layer components {
  .ff6-slider.rc-slider {
    @apply p-0;
    height: 42px !important;
  }
  
  .ff6-slider .rc-slider-handle {
    @apply select-none;
    width: 16px;
    height: 16px;
    @apply border-1 border-black dark:border-2;  
    @apply bg-black dark:bg-white;
    opacity: 1;

    @apply focus-visible:shadow-range-focus;
  } 
  

  .ff6-slider .rc-slider-handle {
    top: 3px;
  }

  .ff6-slider .rc-slider-mark-text {
    @apply text-zinc-400 dark:text-zinc-200;
    @apply transition-all;
    @apply duration-100;
  }

  .ff6-slider .rc-slider-mark-text-active {
    @apply text-zinc-600 dark:text-white;
  }

  .ff6-slider .rc-slider-handle,
  .ff6-slider .rc-slider-rail,
  .ff6-slider .rc-slider-track {
    border-radius: 0;
  }

  .ff6-slider .rc-slider-mark {
    top: 28px;
  }

  .ff6-slider .rc-slider-track {
    @apply bg-blue-600;
    @apply border-0 bg-blue-600;
    @apply dark:border-1 dark:border-black;
  }

  .ff6-slider .rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
    @apply shadow-none;
  }

  .ff6-slider .rc-slider-dot {
    top: 18px;
    width: 0;
    border-radius: 0;
    border-width: 1px;
    @apply border-zinc-300;
    @apply bg-zinc-100;
    @apply transition-all;
    @apply duration-100;
  }

  .ff6-slider .rc-slider-dot-active {
    @apply border-zinc-400;
    @apply bg-zinc-400;
  }

  .ff6-slider .rc-slider-rail {
    border: 1px solid #D2CFC9;
    @apply bg-inputs-background;
  }

  .ff6-slider .rc-slider-rail,
  .ff6-slider .rc-slider-step,
  .ff6-slider .rc-slider-track {
    @apply h-[12px];
  }
}

@layer components {
  .ff6wc-select-container * {
    @apply transition-colors duration-75;
    @apply outline-0;
  }

  .ff6wc-select-container .ff6wc-select__control {
    @apply max-h-[30px];
    @apply min-h-[30px];
    @apply border-1;
    @apply cursor-text;
    @apply bg-white dark:bg-transparent;      
    @apply border-inputs-border;
    @apply hover:border-neutral-400;
    @apply rounded-none;
  }

  .ff6wc-select-container .ff6wc-select__control.ff6wc-select__control--is-focused {
    @apply shadow-input-focus;
  }

  .ff6wc-select-container .ff6wc-select__menu {
    @apply bg-neutral-100 dark:bg-neutral-700 border-2;
    @apply border-neutral-300 dark:border-neutral-600;
  }

  .ff6wc-select-container .ff6wc-select__option {
    @apply text-neutral-600 dark:text-neutral-200;
    @apply bg-neutral-100 dark:bg-neutral-700;
    @apply hover:bg-neutral-200 dark:hover:bg-neutral-800;
    @apply px-2 py-1;
  }
  .ff6wc-select-container .ff6wc-select__option--is-selected {
    @apply bg-blue-700 text-white;
  }

  .ff6wc-select-container .ff6wc-select__option--is-selected.ff6wc-select__option--is-focused {
    @apply bg-blue-500 text-white;
  }
  

  .ff6wc-select-container .ff6wc-select__option--is-focused {
    @apply bg-neutral-200 dark:bg-neutral-800;
  }

  .ff6wc-select-container .ff6wc-select__indicator-separator {
    @apply bg-neutral-400;
  }

  .ff6wc-select-container .ff6wc-select__dropdown-indicator {
    @apply py-0;
    @apply px-2;
  }

  .ff6wc-select-container .ff6wc-select__input-container {
    @apply m-0;
    @apply p-0;
  }
  
  .ff6wc-select-container .ff6wc-select__input-container,
  .ff6wc-select-container .ff6wc-select__placeholder,
  .ff6wc-select-container .ff6wc-select__single-value {
    @apply text-neutral-600 dark:text-neutral-200;
    @apply text-sm;
  }
  
  .ff6wc-select-container input:focus {
    box-shadow: none;
  }

  /** PARTY SELECT **/
  .ff6wc-party-select.ff6wc-select-container .ff6wc-select__control {
    @apply min-h-[100px];
    @apply flex-shrink;
  }

  .ff6wc-party-select.ff6wc-select-container .ff6wc-select__indicator-separator {
    display: none;
  }

  .ff6wc-party-select.ff6wc-select-container .ff6wc-select__input-container,
  .ff6wc-party-select.ff6wc-select-container .ff6wc-select__placeholder,
  .ff6wc-party-select.ff6wc-select-container .ff6wc-select__single-value {
    @apply text-neutral-600 dark:text-neutral-200;
    @apply text-lg;
  }

}
